*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins' sans-serif;
    margin: 0;
    font-size: 16px;
}

ul,li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}
.container{
    width: 1280px;
    margin: 0 auto;
    font-family: Poppins, sans-serif;
}
